{{#each nextTrack}}
    <pre>{{nextTrack}}</pre>
    <img src="{{images.1.url}}" alt=""/>
    <p><audio src="{{preview_url}}" controls>Play Me</audio></p>
    <p>{{artists.name}}</p>
    <p>{{name}}</p>
    <hr/> 
{{/each}}